@import branding.css

/* Bootstrap overrides, if using this template you probably dont want to
 * overwrite things here but instead in the branding.css file */
.nav-pills {
    --bs-nav-pills-link-active-bg: var(--brand-dark-colour);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--brand-dark-colour);
}

/* Other random site stylings */
.welcome-bg-holder {
    float: left;
    height: 100vh;
    position: relative;
    width: 100%;
}

.welcome-bg-holder h1 {
    margin-left: 10%;
    margin-top: 30vh;
    position: absolute;
    z-index: 2;
}

.welcome-bg-holder figure, .welcome-bg-holder div {
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

.welcome-bg-holder > figure {
    animation: imageAnimation 60s linear infinite 0s;
    backface-visibility: hidden;
    color: transparent;
    opacity: 0;
}

.welcome-bg-holder div {
    background-color: var(--brand-dark-colour);
    filter: opacity(70%);
    z-index: 1;
}

@keyframes
imageAnimation {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    8% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
    10% {
        opacity: 1
    }
    20% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
