---
layout: default
---
{% assign url_parts = page.url | split: "/" | reverse | slice: 1, 2 | reverse | join: "/" | append: "/images/image" %}
{% assign main_pages = site.collections | where: "label", "main_pages" | first %}
{% assign image = main_pages.files | where_exp: "item", "item.path contains url_parts" | first %}

<div class="no-scroll-body-faker">
  <div class="container page" >
    <div class="row m-0">
      <div class="page-content col-12 col-md-6 me-0 pe-0" >
        <i class="up hollow base-page bi bi-arrow-up-circle invisible"></i>
        <i class="up filled base-page bi bi-arrow-up-circle-fill invisible"></i>
        <div class="pe-5">
          {{ content }}
        </div>
        <i class="down hollow base-page bi bi-arrow-down-circle invisible"></i>
        <i class="down filled base-page bi bi-arrow-down-circle-fill invisible"></i>
      </div>
      <div class="col-6 d-none d-md-block page-image ms-0 ps-0" style="background-image: url({{ image.path | replace_first: "_", "/" }})">
      </div>
    </div>
  </div>
  <script src="{{ base.url | prepend: site.url }}/assets/js/sub-page-scroll-control.js"></script>
</div>
