---
layout: default
---
{% assign url_parts = page.url | split: "/" | reverse | slice: 1, 2 | reverse | join: "/" | append: "/images/image" %}
{% assign main_pages = site.collections | where: "label", "main_pages" | first %}
{% assign image = main_pages.files | where_exp: "item", "item.path contains url_parts" | first %}

<div class="no-scroll-body-faker">
  <div class="container page" >
    <div class="row">
      <div class="col-12 col-md-6 page-content">
        <i class="base-page bi bi-arrow-up-circle-fill"></i>
        <i class="base-page bi bi-arrow-up-circle"></i>
        {{ content }}
        <i class="base-page bi bi-arrow-down-circle"></i>
        <i class="base-page bi bi-arrow-down-circle-fill"></i>
      </div>
      <div class="col-6 d-none d-md-block page-image" style="background-image: url({{ image.path | replace_first: "_", "/" }})">
      </div>
    </div>
  </div>
</div>

