---
layout: default
---
<div class="container-fluid">
  <div class="row">
    <div class="col-auto" style="width: 200px;">
      <div class="d-flex flex-column py-2" style="height: 100vh; overflow-y: scroll;">
        <a href="/" class="d-flex align-items-center mt-2 mb-md-0 me-md-auto">
          <img class="rounded" src="{{ site.data.navbar.logo_location }}"
               style="background-color:white;" width="100%">
        </a>
        <hr>
        <div id="navbar" class="nav nav-pills flex-column mb-auto">
          {% for main_page in site.main_pages %}
          <a href="#link-{{ forloop.index }}"
             class="nav-link icon-link icon-link-hover link-light link-body-emphasis fs-6"
             style="--bs-icon-link-transform: scale(0.9); --bs-icon-link-gap: .5rem;">
            <img src="{{ main_page.url }}../images/{{ main_page.icon }}"
                 class="bi pe-none me-2 fs-1">
            {{ main_page.name }}
          </a>
          {% endfor %}
        </div>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
             data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt=""
                 class="rounded-circle me-2" width="32" height="32">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div data-bs-spy="scroll" data-bs-target="#navbar" class="col m-0"
         tabindex="0" style="height:100vh; overflow-y: scroll;">
      {% for main_page in site.main_pages %}
      <div id="link-{{ forloop.index }}" class="m-0" style="height: 100vh">
        <iframe style="height: 100vh; width: 100%" src="{{ main_page.url }}" title="{{ main_page.name }}"></iframe>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
