---
layout: default
---
<div class="container-fluid">
  <div class="row">
    <!-- small navbar -->
    <div class="col-auto d-none d-sm-block d-lg-none">
      <div class="d-flex flex-column py-2 overflow-x-hidden" style="height: 100vh; overflow-y: scroll; width: 60px;">
        <a href="/" class="d-flex align-items-center mt-2 mb-md-0 me-md-auto mx-auto">
          <img class="rounded" src="/assets/small-logo.png"
               style="background-color:white;" width="100%">
        </a>

        <hr>

        <div id="navbar-small" class="nav nav-pills flex-column mx-auto mb-auto">
          {% assign menu_bar_pages = site.main_pages | shift %}
          {% for main_page in menu_bar_pages %}
          <a id="navbar-small-link-{{ forloop.index | plus: 1}}"
            href="#link-{{ forloop.index | plus: 1}}"
             class="nav-link icon-link icon-link-hover link-light link-body-emphasis fs-6"
             data-toggle="tooltip"
             title="{{ main_page.name }}"
             style="--bs-icon-link-transform: scale(0.9); --bs-icon-link-gap: 0px;">
            <img src="{{ main_page.url }}/../images/{{ main_page.icon }}"
                 class="bi pe-none me-2 fs-2">
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- large nav bar -->
    <div class="col-auto d-none d-lg-block" >
      <div class="d-flex flex-column py-2" style="height: 100vh; overflow-y: scroll; width: 180px;">
        <a href="/" class="d-flex align-items-center mt-2 mb-md-0 me-md-auto mx-auto">
          <img class="rounded" src="/assets/logo.png"
               style="background-color:white;" width="100%">
        </a>

        <hr>

        <div id="navbar" class="nav nav-pills flex-column mx-auto mb-auto">
          {% assign menu_bar_pages = site.main_pages | shift %}
          {% for main_page in menu_bar_pages %}
          <a id="navbar-link-{{ forloop.index | plus: 1}}"
            href="#link-{{ forloop.index | plus: 1}}"
             class="nav-link icon-link icon-link-hover link-light link-body-emphasis fs-6"
             style="--bs-icon-link-transform: scale(0.9)">
            <img src="{{ main_page.url }}/../images/{{ main_page.icon }}"
                 class="bi pe-none me-2 fs-2">
            {{ main_page.name }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div style="color: var(--brand-dark-colour);"
         class="vr p-0 m-0 ps-1 opacity-100 d-none d-sm-block"></div>


      <div data-bs-spy="scroll" data-bs-target="#navbar" class="col m-0 p-0"
           tabindex="0" style="height:100vh; overflow-y: scroll;">
      {% for main_page in site.main_pages %}
      <div id="link-{{ forloop.index }}"
           {% if forloop.first %}
           class="first-section"
           {% elsif forloop.index == 2 %}
           class="second-section"
           {% elsif forloop.last %}
           class="last-section"
           {% else %}
           class="other-sections"
           {% endif %}
        >
          <iframe style="height: 100vh; width: 100%; overflow: auto;"
                  src="{{ main_page.url }}"
                  title="{{ main_page.name }}">
          </iframe>
        </div>

        {% comment %}
          ######################################################################
          # the below is for the polygons because I don't care enough how they're
          # laid up but want them different but dont want to hardcode them per
          # divider, also makes us robust to more sections if someone wants
          # that. We don't want them on the first or the last
        ######################################################################
        {% endcomment %}

        {% assign flipped = 0 %}
        {% unless forloop.first or forloop.last %}
          {% assign min = 10 %}
          {% assign max = 40 %}
          {% assign diff = max | minus: min %}
          {% assign ran1 = "now" | date: "%N" | modulo: diff | plus: min %}
        {% assign ran2 = 50 | minus: ran1 %}
        {% assign ran3 = 50 | plus: ran1 %}
        {% assign ran4 = 100 | minus: ran1 %}


          {% assign flipped = forloop.index | modulo: 2 %}
          {% if flipped == 0 %}
            {% assign temp = ran1 %}
            {% assign ran1 = ran2 %}
            {% assign ran2 = temp %}
          {% endif %}

        {% assign div1 = ran1 %}
        {% assign div2 = 100 | minus: ran1 %}

        {% assign p1 = ran1 %}
        {% assign p2 = ran2 %}
        {% assign p3 = ran3 %}
        {% assign p4 = ran4 %}

        <div class="m-0 p-0"
             style="z-index: 4;
                    background-color: var(--bs-body-bg);
                    ">
          <svg class="m-0 p-0" style="z-index: 5;
                      position: relative;
                      clip-path: polygon(
                      0% {{ p1 }}%,
                      100% {{ p2 }}%,
                      100% {{ p3 }}%,
                      0% {{ p4 }}%
                      )"
               height="5vw"
               width="100%"
               viewBox="0 0 100 100"
               preserveAspectRatio="none">
            <polygon points="0,100 0,0 {{ div1 }},0 {{ div2 }},100"
                     style="fill:var(--brand-dark-colour)">
            </polygon>
            <polygon points="100,100 100,0 {{ div1 }},0 {{ div2 }},100"
                     style="fill:var(--brand-light-colour)">
            </polygon>
          </svg>
        </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
  <script src="{{ base.url | prepend: site.url }}/assets/js/scrollspy-multitarget.js"></script>
</div>
